<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="filamentType" value="PLA"/>
        <add key="printingTemperature" value="207"/>
        <add key="backlashX" value="0.4375"/>
        <add key="backlashY" value="0.9695"/>
        <add key="backlashSpeed" value="1200"/>
        <add key="badOffset" value="-0.45"/>
        <add key="badOffsetBackLeft" value="-0.15"/>
        <add key="badOffsetBackRight" value="-0.5"/>
        <add key="badOffsetFrontLeft" value="-0.5"/>
        <add key="badOffsetFrontRight" value="-1.45"/>
        <add key="waveBonding" value="false"/>
    </appSettings>
</configuration>
